/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/dist/**
.DS_Store
firebase-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log
.env
/purescript-backend-optimizer/**
/output-es